* text=auto
*.md text eol=lf
*.txt text eol=lf
*.py text eol=lf
*.ps1 text eol=lf
*.gs text eol=lf
*.js text eol=lf
*.mjs text eol=lf
*.json text eol=lf
*.csv text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.png binary
*.jpg binary
*.jpeg binary
*.pptx binary
